.product {
    margin-top: 2rem;
}

.product__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
}

.product__card-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.product__card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--clr-primary-100);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0.5rem 0.5rem;
    max-width: 21.875rem;
    min-height: 15.625rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.product__card:hover {
    transform: scale(1.1);
}

.product__card-bordertop--cyan {
    border-top: 4px solid var(--clr-secondary-100);
}
.product__card-bordertop--red {
    border-top: 4px solid var(--clr-secondary-900);
}
.product__card-bordertop--yellow {
    border-top: 4px solid var(--clr-secondary-600);
}
.product__card-bordertop--blue {
    border-top: 4px solid var(--clr-secondary-300);
}

.product__card-title {
    font-size: var(--fs-20);
    font-weight: var(--fw-smb);
    line-height: var(--lh-135);
    color: var(--clr-primary-900);
}

.product__card-text{
    font-size: var(--fs-15);
    font-weight: var(--fw-rg);
    line-height: var(--lh-160);
    color: var(--clr-primary-600);
}

.product__card-img {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}